<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlink}}
</head>
<body>
    {{>navbar}}
    <!-- main_header -->
    <div class="conatiner-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                  <!-- left side div -->
                  <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                      <img src="image/about1.jpg" alt="Ashish" class="img-fluid fig" title="Ashish tech">
                    </figure>
                  </div>
                    
                    
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                      <p>Welcome to weather app</p>
                      <h1>I am a <span class="texte">Btech Engineering student</span> and <br>I am a coder and mern developer</h1>
                      <a href="https://www.linkedin.com/in/ashish-kumar-415666196/" target="_Ashish"><button>About Me</button></a>
                    </div>
                </div>  

            </div>
        </div>
    </div>
    <!-- Footer -->
    {{>footer}}
  <!-- Footer -->
</body>
</html>